.Rproj.user
.Rhistory
.RData
.Ruserdata
*.db
cache/*
errorReport.txt
errorReportSql.txt
/.idea/
/.Rbuildignore
shiny_bookmarks/*
/tests/testthat/rewardb-references.zip
rbDataBuild.log
/tests/testthat/reference_test_folder/
/tests/testthat/export/
/tests/testthat/rb-import/
/tests/testthat/rewardb-export.zip
/renv/activate.R
/tests/testthat/test.log
/tests/testthat/dashboardLog.log
/tests/testthat/reference_files/*.csv
/tests/testthat/export-*.zip
inst/doc
/extra/exposureControlEvaluationTable.rds
/extra/outcomeControlEvaluationAutomatedControlsDt.rds
/extra/outcomeControlEvaluationManualControlsDt.rds
/extra/outcomeControlEvaluationTable.rds
/app-cache/
