.Rproj.user
.Rhistory
.RData
.Ruserdata
*.db
cache/*
errorReport.txt
errorReportSql.txt
/.idea/
/.Rbuildignore
shiny_bookmarks/*
/tests/testthat/rewardb-references.zip
rbDataBuild.log
/tests/testthat/reference_test_folder/
/tests/testthat/export/
/tests/testthat/rb-import/
/tests/testthat/rewardb-export.zip
